<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ url_for('static',filename='src/img/play-game-64.png')}}" type="image/ico">
	<title>Clasificación | Perfect Rithm</title>
	<link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

	<nav id="navbar">
		<ul>

			<img id="logo" src="{{ url_for('static',filename='src/img/perfect_rithm.png')}}" alt="Logo"
				style="width: 20%">

			<a href="{{ url_for('index')}}">
				<li>Inicio</li>
			</a>
			<a href="{{ url_for('maps')}}">
				<li>Niveles</li>
			</a>
			<a href="{{ url_for('leaderboard')}}">
				<li>Clasificación</li>
			</a>
			<a href="{{ url_for('profile')}}">
				<li>Perfil</li>
			</a>
			<a href="{{ url_for('about')}}">
				<li>Acerca de</li>
			</a>
		</ul>
	</nav>

	<section id="leaderboard">
		<div id="search">
			<h2>Buscar jugador</h2>
			<form id="search_form" method="POST">
				<input name="u_name" id="u_name" type="text" placeholder="Nombre del jugador">
			</form>
			<button type="submit" form="search_form" value="Submit">Buscar</button>
		</div>
		<section class="post">
			<table>
				<tr>
					<th>Nombre</th>
					<th>Nivel</th>
					<th>Puntaje</th>
				</tr>
				{%for d in data%}
				<tr>
					<td>{{ d[0] }}</td>
					<td>{{ d[1] }}</td>
					<td>{{ d[2] }}</td>
				</tr>
				{%endfor%}
			</table>
		</section>

		<footer>
			<p>
				Perfect Rithm es desarrollado como proyecto para el espacio académico de Modelos de Programación 2
			</p>
			<p>Brayan Arellano - Jorge Gomez - Hanna Villamil</p>
		</footer>
</body>

</html>