<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ url_for('static',filename='src/img/play-game-64.png')}}" type="image/ico">
	<title>Perfil | Perfect Rithm</title>
	<link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

	<nav id="navbar">
		<ul>

			<img id="logo" src="{{ url_for('static',filename='src/img/perfect_rithm.png')}}" alt="Logo"
				style="width: 20%">

			<a href="{{ url_for('index')}}">
				<li>Inicio</li>
			</a>
			<a href="{{ url_for('maps')}}">
				<li>Niveles</li>
			</a>
			<a href="{{ url_for('leaderboard')}}">
				<li>Clasificación</li>
			</a>
			<a href="{{ url_for('profile')}}">
				<li>Perfil</li>
			</a>
			<a href="{{ url_for('about')}}">
				<li>Acerca de</li>
			</a>
		</ul>
	</nav>

	<section id="profile_info">
		<h2>Informacion de perfil</h2>
		<article class="post">
			<img src="{{ url_for('static',filename='src/img/profile_icon.png')}}" width="50">
			<div>
				<h3>{{data[1]}}</h3>
				<ul>
					<li>Lvl: {{data[4]}}</li>
					<li>Puntuación total: {{data[5]}}</li>
				</ul>
			</div>
			<a href="{{url_for('logout')}}"><button>Cerrar sesion</button></a>
		</article>
	</section>

	<section id="records">
		<h2>Mapas jugados</h2>
		{%for r in records%}
		<article class="post">
			<img src="{{ url_for('static',filename='src/img/level_icon.png')}}" width="50">
			<div>
					<h3>{{r[0]}}</h3>
				<ul>
					<li>Puntaje: {{r[1]}}</li>
					<li>Precisión: {{r[2]}}%</li>
					<li>Logrado en: {{r[3]}}</li>
				</ul>
			</div>
		</article>
		{%endfor%}
	</section>

	<footer>
		<p>
			Perfect Rithm es desarrollado como proyecto para el espacio académico de Modelos de Programación 2
		</p>
		<p>Brayan Arellano - Jorge Gomez - Hanna Villamil</p>
	</footer>
</body>

</html>